<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ContentsFolder" value="Content"/>
    <add key="NotesFolder" value="Notes"/>
    <add key="HelpFolder" value="Help"/>
    <add key="RoundsDetailsFolder" value="Rounds"/>
    <add key="PlayersFile" value="Players.txt"/>
    <add key="CoursesFile" value="Courses.txt"/>
    <add key="RoundsFile" value="Rounds.txt"/>
    <add key="CurrentPlayer" value="1"/>
  </appSettings>
</configuration>